 /* ///Clothe //  */


 .main {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-evenly;
     background-color: #e2e7e6;
 }
 
 .second {
     height: 322px;
     width: 15%;
     background-color: white;
     padding: 20px 0px 15px;
     margin: 30px;
     /* transition: all .7s; */
 }
 

 .img-box {
     height: 185px;
     background-size: cover;
     margin-top: 1rem;
     margin-bottom: 10px;
     scale: 0.78;
     transition: all 1s;
 }
 


 .img-box:hover {
     transform: scale(1.2);

 }

 .main-content {
     margin-left: 1rem;
     margin-right: 1rem;
 }

 /* ****men T-shirt***** */

 .main-content a {
     color: rgb(26, 32, 28);
 }

 .main-content a:hover {
     color: whitesmoke;
 }

 .main-content h5 {
     color: black;
     font-family: sans-serif;
 }

 .main-content h5:hover {
     color: red;
     cursor: pointer;

 }

 .checked {
     color: green;
     cursor: pointer;
     align-items: center;
 }

 .un {
     color: burlywood;
     align-items: center;
 }

 .un:hover {
     color: aqua;
 }

 .checked:hover {
     color: red;
 }

 .add {
     cursor: pointer;
     border: 1px solid white;
     background: rgb(13, 219, 230);
     font-weight: 700;
     align-items: center;
     transition: all 1s;
     height: 30px;


 }

 /* .see-other a:hover{
    cursor: pointer;
    color: red;
} */
 /* .see-other a{
    color: black;
} */
 .add:hover {
     cursor: pointer;
     border: 1px solid rgb(205, 205, 194);
     background: rgb(159, 119, 219);
     border-radius: 2px;
     font-weight: bold;
     height: 30px;
     transform: scale(1.2);
 }

 .add1 {
     cursor: pointer;
     border: 1px solid rgb(205, 205, 194);
     background: rgb(193, 14, 97);
     border-radius: 2px;
     font-weight: bold;
     height: 30px;
     /* margin-left: 5.3rem;
     margin-bottom: -7rem; */
     transition: all 1s;
     /* align-items: center; */

 }
 

 .add1:hover {
     transform: scale(1.2);
     background: rgb(89, 7, 190);
     color: antiquewhite;
 }



 /* ///man kurta pajama */


 .img-box1 {
     height: 175px;
     background-size: cover;
     margin-top: 1rem;
     margin-bottom: 10px;
     scale: 0.78;
     transition: all 1s;
 }

 /* @media screen and (max-width:950px) 
 {
    .img-box1 {
        height: 400px;
        width: 80%;
        flex-wrap: wrap;
    }

} */

 .img-box1:hover {
     transform: scale(1.3);

 }

 .checked1 {
     color: rgb(17, 202, 186);
     cursor: pointer;
     align-items: center;
     transition: all 1s;

 }

 .checked1:hover {
     transform: scale(1.8);
     color: chartreuse;
 }

 .un1 {
     color: rgb(65, 26, 141);
     align-items: center;
     transition: all 1s;
     height: 10px;
 }

 .un1:hover {
     transform: scale(1.8);
     color: rgb(7, 20, 20);
 }



 .btn0 {
     cursor: pointer;
     border: 1px solid white;
     background: rgb(212, 77, 154);
     font-weight: 700;
     align-items: center;
     transition: all 1s;
     height: 30px;


 }

 .btn0:hover {
     transform: scale(1.1);
     background-color: rgb(14, 223, 108);
     color: aliceblue;



 }

 .btn1 {
     cursor: pointer;
     border: 1px solid rgb(205, 205, 194);
     background: yellow;
     border-radius: 2px;
     font-weight: bold;
     height: 30px;
     transition: all 1s;

 }

 .btn1:hover {
     transform: scale(1.2);
     background: rgb(54, 218, 9);
     color: antiquewhite;


 }

 /* //MEN  Jeans// */

 .img-box2 {
     height: 160px;
     background-size: cover;
     margin-top: 1rem;
     margin-bottom: 10px;
     scale: 0.78;
     transition: all 1s;
 }
 /* @media screen and (max-width:950px) {
    .img-box2 {
        height: 400px;
        width: 80%;
        flex-wrap: wrap;
    }

} */


 .img-box2:hover {
     transform: scale(1.3);

 }

 .checked2 {
     color: rgb(68, 13, 171);
     cursor: pointer;
     align-items: center;
     transition: all 1s;

 }

 .checked2:hover {
     transform: scale(1.8);
     color: chartreuse;
 }

 .un2 {
     color: rgb(175, 241, 7);
     align-items: center;
     transition: all 1s;
     height: 10px;
 }

 .un2:hover {
     transform: scale(1.8);
     color: rgb(7, 20, 20);
 }



 .btn01 {
     cursor: pointer;
     border: 1px solid white;
     background: rgb(13, 219, 230);
     font-weight: 700;
     align-items: center;
     transition: all 1s;
     height: 30px;


 }

 .btn01:hover {
     cursor: pointer;
     border: 1px solid rgb(205, 205, 194);
     background: rgb(42, 123, 33);
     border-radius: 2px;
     font-weight: bold;
     height: 30px;
     transform: scale(1.2);



 }

 .btn2 {
     cursor: pointer;
     border: 1px solid rgb(205, 205, 194);
     background: rgb(193, 14, 97);
     color: black;
     border-radius: 2px;
     font-weight: bold;
     height: 30px;
     transition: all 1s;

 }


 .btn2 :hover {
     transform: scale(1.2);
     background: rgb(89, 7, 190);
     color: antiquewhite;
 }

 /* ///health & personal care// */

 .img-box3 {
     height: 160px;
     background-size: cover;
     margin-top: 1rem;
     margin-bottom: 10px;
     scale: 0.78;
     transition: all 1s;
 }
 /* @media screen and (max-width:950px) {
    .img-box3 {
        height: 400px;
        width: 100%;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

} */

 .img-box3:hover {
     transform: scale(1.3);

 }

 .checked3 {
     color: rgb(13, 171, 74);
     cursor: pointer;
     align-items: center;
     transition: all 1s;

 }

 .checked3:hover {
     transform: scale(1.8);
     color: rgb(187, 42, 17);
 }

 .un3 {
     color: rgb(71, 19, 214);
     align-items: center;
     transition: all 1s;
     height: 10px;
 }

 .un3:hover {
     transform: scale(1.8);
     color: rgb(148, 33, 83);
 }



 .btn02 {
     cursor: pointer;
     border: 1px solid white;
     background: rgb(13, 219, 230);
     font-weight: 700;
     align-items: center;
     transition: all 1s;
     height: 30px;


 }

 .btn02:hover {
     cursor: pointer;
     background: rgb(89, 7, 190);
     color: antiquewhite;
     border-radius: 2px;
     font-weight: bold;
     height: 30px;
     transform: scale(1.2);



 }

 .btn3 {
     cursor: pointer;
     border: 1px solid rgb(205, 205, 194);
     background: rgb(193, 14, 97);
     border-radius: 2px;
     font-weight: bold;
     height: 30px;
     transition: all 1s;

 }

 .btn3:hover {
     transform: scale(1.2);
     border: 1px solid rgb(205, 205, 194);
     background: rgb(42, 123, 33);

 }